/*****HEADER*****/

.header-container {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "h1-title h1-title"
    "head-title colorPicker"
    "head-description colorPicker";
  color: white;
}

.jumbotron {
  border-radius: 0px;
}

.head-title {
  grid-area: head-title;
}
.head-description {
  grid-area: head-description;
}

.h1-title {
  grid-area: h1-title;
}

.colorPicker {
  grid-area: colorPicker;
  justify-self: end;
}

.navbar {
  margin: 0;
  padding: 3px;
  display: flex;
}

.container-nav {
  margin: 0;
}

.login {
  position: absolute;
  padding:2px;
  right: 10px;
  top: 4px;
  color: rgba(255, 255, 255, 0.65);
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
  position: absolute;
  left: 20px;
  top: 0px;
}
.navbar-nav{
  margin-left: 60px;
}
.collapse-nav-link{
  margin-left: 10px;
  display: flex;
  width: auto;
}

@media screen and (max-width: 768px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "h1-title"
      "head-title"
      "head-description"
      "colorPicker";

    row-gap: 20px;
    padding: 50px 50px;
  }

  .header-container * {
    justify-self: center;
  }

  .navbar {
    margin: 0;
    padding: 3px 3px;
    display: flex;
  }
  .container-nav {
    margin: 0;
  }
  .navbar-brand {
    position: absolute;
    left: 70px;
  }
  .navbar-nav{
    margin-left: 0px;
  }
  .collapse-nav-link{
    margin-left: 68px;
  }

  .editBox > span{
    text-align: center;
  }
}
