/*****HEADER*****/

 .flip-container{
  position: relative;
  margin-top: 20px;
  height: 35px;
  display:flex;
  flex-direction:row;
 }


.background-btn{
  text-align: center;
  padding: 0px auto;
  border-color: black;
  color: black;
  width: 50%;
  height: 100%;
  background-color: transparent;
}
/* .flip-btn{
  display: flex;
  text-align: center;
  text-justify: center;
  border-color: black;
  height: 100%;
  overflow: hidden;
  width: 50%;
  position: absolute;
  background-color: black;
  color: white;
}
 */

.flip-btn{
  text-align: center;
  height: 100%;
  overflow: hidden;
  width: 50%;
  position: absolute;
  background-color: black;
}


.one-page-btn{
  animation-name: one-page-btn-anima;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-timing-function:ease-in-out;
}
@keyframes one-page-btn-anima{
  0%{left:50%; width:50%; top:0%; transform: rotateY(0deg);}
  100%{left:0%;width:50%; top:0%; transform: rotateY(360deg);}
} 

.multi-page-btn{
  transition-duration: 1s;
  animation-name: multi-page-btn-anima;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function:ease-in-out;
}
@keyframes multi-page-btn-anima{
  0%{left:0%; width:50%; top:0%; transform: rotateY(0deg);}
  100%{left:50%;width:50%; top:0%; transform: rotateY(360deg);}
}

.header-container {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "h1-title h1-title"
    "head-title colorPicker"
    "head-description colorPicker";
  color: white;
}

.jumbotron {
  border-radius: 0px;
  display: flex;
  height: auto;
}

.head-title {
  grid-area: head-title;
}
.head-description {
  grid-area: head-description;
}

.h1-title {
  grid-area: h1-title;
}

.colorPicker {
  grid-area: colorPicker;
  justify-self: end;
}

.navbar {
  margin: 0;
  padding: 3px;
  display: flex;
  min-height: 44px;
}

.container-nav {
  margin: 0;
}

.login {
  position: absolute;
  padding:2px;
  right: 10px;
  top: 4px;
  color: rgba(255, 255, 255, 0.65);
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
  position: absolute;
  left: 20px;
  top: 0px;
}
.navbar-nav{
  margin-left: 60px;
}
.collapse-nav-link{
  margin-left: 10px;
  display: flex;
  width: auto;
}

@media screen and (max-width: 768px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "h1-title"
      "head-title"
      "head-description"
      "colorPicker";

    row-gap: 20px;
    padding: 20px 20px;
  }

  .header-container * {
    justify-self: center;
  }

  .navbar {
    margin: 0;
    padding: 3px 3px;
    display: flex;
  }
  .container-nav {
    margin: 0;
  }
  .navbar-brand {
    position: absolute;
    left: 70px;
  }
  .navbar-nav{
    margin-left: 0px;
  }
  .collapse-nav-link{
    margin-left: 68px;
  }

  .editBox > span{
    text-align: center;
  }
}
