/*****HEADER*****/

.menu-card{
  padding: 15px;
  border-width: 0px;
}

.menu-overlay{
  padding: 30px;
}
.menu-delete-button{
  margin-left: auto;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-delete-button:hover{
  background-color:white;
  opacity: 0.5;
}
.addDish-form *{
  width: 100%;
}

.addDish-form button{
  width: 40%;
  margin: 0% 5%;
}

@media screen and (max-width: 768px){

  .addDish-form button{
    justify-self: center;
    width: 100%;
    margin: 10px 0px;
  }
} 