


.footer {
  padding: 20px 0px 20px 0px;
}


address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

/*///////////// for the page sliding ///////////////*/

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}


h1 {
  text-align: center;
}
/*//////// home page ///////*/

.addDish-form * {
  margin: 10px 0px 10px;
}

#addStaff-uploader {
  width: 260px;
  height: 260px;
}

.staff-card {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas:
    "image header"
    "image title"
    "image description";
}

.staff-image {
  grid-area: image;
  align-self: start;
  margin-top: 23px;
}

.staff-header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 20px;
  grid-template-areas: "label x";
  margin: 0px;
  padding: 0px;
}

.staff-label {
  grid-area: label;
}
.staff-x {
  grid-area: x;
  align-self: start;
}

.staff-title {
  grid-area: title;
}

.staff-description {
  grid-area: description;
}

@media screen and (max-width: 768px) {
  .staff-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "image header"
      "image title"
      "description description";
  }

  .staff-image {
    display: grid;
    grid-area: image;
  }

  .staff-header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-areas: "label x";
    margin: 0px;
    padding: 0px;
  }

  .staff-label {
    grid-area: label;
  }
  .staff-x {
    grid-area: x;
    align-self: start;
  }

  .staff-title {
    grid-area: title;
  }

  .staff-description {
    grid-area: description;
    margin: 0px;
    padding: 0px;
  }


  /*home page*/
  .delete-on-phone {
    background-color: #0f0f0f;
    display: none;
  }
}
